$color-red: #eb8d8d;
$color-blue: rgb(2, 27, 27);
$color-black: #262626;
$color-white: rgb(255, 242, 242);
$color-beige: beige;
$color-gray: #e0e0e0;
$color-green: #73e273d0;
$color-green-bright: #3dd13d;
$color-green-light: rgba(0, 255, 0, 0.13);
