$color-red: rgb(235, 141, 141);
$color-blue: rgb(2, 27, 27);
$color-black: #262626;
$color-gray: #e0e0e0;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-black;
}

html {
  font-size: 10px;
}

.btn {
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 1rem rgba($color-black, 0.2);
  transform: translateY(0);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(1px);
  }
}

.header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-top: 5rem;
  background-color: $color-red;
  color: $color-blue;
}

.quizzes {
  background-color: $color-gray;
  display: flex;
  justify-content: center;

  &__form {
    width: 80vh;
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;
  }
}

.quiz {
  display: block;

  &__question {
    text-align: start;
  }

  &__buttons {
    max-width: 114rem;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
  }

  &__answer-btn {
    font-size: 1.8rem;
    margin-right: 1rem;
    min-width: 15rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover &__answer-btn:not(:hover) {
    transform: scale(0.96);
  }
}
