.panel {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: $color-white;
  transition: all ease 0.2s;

  &__new-game {
    display: inline-block;
    background-color: $color-gray;
    grid-column-start: 3;
    font-size: 2.5em;
    margin-left: 4rem;
    height: fit-content;
  }

  &__restart {
    display: block;
    background-color: $color-gray;
    grid-column-start: 2;
    font-size: 2.5em;
    margin-left: 4rem;
    margin-right: 4rem;
    height: fit-content;
  }

  &__check-game {
    display: block;
    background-color: $color-gray;
    grid-column-start: 2;
    font-size: 2.5em;
    height: fit-content;
  }

  &__result-info {
    display: block;
    grid-column-start: 2;
    font-size: 4rem;
    font-weight: 800;
    color: $color-black;
  }
}
