.quiz {
  display: block;
  transition: all ease 0.2s;

  &__question {
    text-align: start;
    margin-left: 8%;
    height: 3rem;
  }

  &__buttons {
    max-width: 114rem;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
  }

  &__answer-btn {
    font-size: 1.7rem;
    font-weight: 700;
    margin-right: 1.3rem;
    min-width: 15rem;

    &--clicked {
      outline: rgba(58, 169, 184, 0.712) dashed 3px;
      outline-offset: 2px;
    }

    &--wrong {
      outline: rgba($color-red, 0.8) dashed 3px;
      outline-offset: 2px;
    }

    &--correct {
      outline: rgba($color-green-bright, 0.712) dashed 3px;
      outline-offset: 2px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
