.welcome {
  display: grid;
  justify-content: center;
  grid-template-columns: 5vh 90vh 5vh;
  background-color: $color-gray;

  &__subtitle {
    display: inline-block;
    justify-content: center;
    width: 100%;
    margin-top: 0rem;
    text-align: center;
    transform: translateY(-3rem);
  }

  &__menu-description {
    display: inline-block;
    text-align: start;
    width: 15%;
    font-size: 0.8rem;
  }

  &__carousel {
    display: flex;
    justify-self: center;
    transform: translateX(0);
    justify-content: center;

    &-element {
      width: auto;
      height: auto;
      cursor: pointer;
      font-size: 5rem;
      transition: all 0.2s;

      &:hover {
        color: $color-red;
        font-size: 5.2rem;
      }

      &:active {
        font-size: 5rem;
      }
    }

    &:hover &-element:not(:hover) {
      filter: grayscale(0.7);
    }
  }

  &__new-game {
    display: inline-block;
    justify-self: center;
    background-color: $color-gray;
    grid-column-start: 2;
    font-size: 2.5em;
    height: 5rem;
    width: 50%;
  }
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  font-family: inherit;

  &__select {
    font-family: inherit;
    appearance: none;
    line-height: 2rem;
    min-width: 70%;
    padding: 1rem;
    padding-left: 2rem;
    font-family: inherit;
    border: 2px #26262681 dashed;
    background-color: antiquewhite;

    &::-webkit-scrollbar {
      width: 20px;
      background-color: rgba(250, 235, 215, 0.322);

      &-thumb {
        background: rgba(211, 160, 160, 0.74);
        border-radius: 10px;
      }
    }
  }

  &__radio {
    position: relative;
    border: 2px #26262681 dashed;
    font-family: inherit;
    justify-self: center;
    background-color: antiquewhite;
    justify-content: space-around;
    min-width: 70%;
    margin-bottom: 8rem;
    height: 5rem;

    &-btn {
      position: absolute;
      transform: translate(-50px, 2px);
      height: 1rem;
    }

    &-label {
      height: 1rem;
      position: absolute;
      transform: translate(-27px, 3px);
    }
  }
}

.u-grid-start-2 {
  grid-column-start: 2;
}
