.btn {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: $shadow-light;
  transform: translateY(0);
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: $shadow-medium;
  }

  &:active {
    transform: translateY(1px);
  }
}

.btn-disabled {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: $shadow-light;
  transform: translateY(0);
  transition: all 0.2s ease;
}
