:root {
  font-family: "Hero New", Inter, Helvetica, sans-serif;
}

body {
  background-color: $color-white;
  transition: all ease 0.2s;
}

html {
  font-size: 10px;
}

window {
  position: relative;
}
