@import url("https://fonts.cdnfonts.com/css/hero-new");
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0; }

.btn {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.1rem 1rem rgba(38, 38, 38, 0.2);
  transform: translateY(0);
  transition: all 0.2s ease; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 2rem rgba(38, 38, 38, 0.2); }
  .btn:active {
    transform: translateY(1px); }

.btn-disabled {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.1rem 1rem rgba(38, 38, 38, 0.2);
  transform: translateY(0);
  transition: all 0.2s ease; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.header {
  position: relative;
  text-align: center;
  letter-spacing: 0.2rem;
  background-color: #fff2f2;
  color: #262626;
  padding: 1.5rem;
  transition: all 2s ease; }
  .header__title {
    display: inline-block;
    font-size: 4rem;
    font-weight: 700; }
  .header__small {
    position: absolute;
    top: 14rem;
    padding: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    right: 0;
    transform: translate(-25%, 0%);
    color: #262626;
    background-color: #f1f180;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 0;
    filter: opacity(0);
    animation: slidein 13s; }

@keyframes slidein {
  0% {
    transform: translate(100%, -50%);
    filter: opacity(0.7); }
  9% {
    transform: translate(-30%, -50%); }
  15% {
    transform: translate(-25%, -50%); }
  50% {
    transform: translate(-25%, -50%); }
  51% {
    transform: translate(-25%, -40%); }
  52% {
    transform: translate(-25%, -50%); }
  76% {
    transform: translate(-25%, -50%); }
  77% {
    transform: translate(-25%, -40%) rotate(3deg); }
  78% {
    transform: translate(-25%, -50%) rotate(3deg); }
  79% {
    transform: translate(-25%, -40%) rotate(3deg); }
  80% {
    transform: translate(-25%, -50%) rotate(3deg); }
  89% {
    transform: translate(-25%, -50%) rotate(-3deg); }
  90% {
    transform: translate(-25%, -40%) rotate(-3deg); }
  91% {
    transform: translate(-25%, -50%) rotate(-2deg); }
  99% {
    transform: translate(-25%, -48%);
    filter: opacity(0.7); }
  100% {
    transform: translate(-25%, 0%);
    filter: opacity(0); } }

.welcome {
  display: grid;
  justify-content: center;
  grid-template-columns: 5vh 90vh 5vh; }
  .welcome__subtitle {
    display: inline-block;
    justify-content: center;
    width: 100%;
    text-align: center; }
  .welcome__menu-description {
    display: inline-block;
    text-align: start;
    width: 60%;
    cursor: pointer; }
  .welcome__carousel {
    display: flex;
    justify-content: center; }
    .welcome__carousel-element {
      width: "auto";
      height: "auto";
      cursor: pointer;
      font-size: 3rem;
      transition: all 0.2s; }
      .welcome__carousel-element:hover {
        color: #eb8d8d;
        font-size: 3.5rem; }
      .welcome__carousel-element:active {
        font-size: 3.3rem; }
    .welcome__carousel:hover .welcome__carousel-element:not(:hover) {
      filter: grayscale(0.7); }
  .welcome__new-game {
    display: inline-block;
    justify-self: center;
    background-color: #e0e0e0;
    grid-column-start: 2;
    font-size: 2.5em;
    height: 5rem;
    width: 50%; }

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  font-family: inherit; }
  .form__select {
    font-family: inherit;
    appearance: none;
    line-height: 2rem;
    width: 50%;
    padding: 1rem;
    font-family: inherit;
    border: 2px #26262681 dashed;
    background-color: antiquewhite; }
    .form__select::-webkit-scrollbar {
      width: 20px;
      background-color: rgba(250, 235, 215, 0.322); }
      .form__select::-webkit-scrollbar-thumb {
        background: rgba(211, 160, 160, 0.74);
        border-radius: 10px; }
  .form__radio {
    border: 2px #26262681 dashed;
    font-family: inherit;
    justify-self: center;
    justify-content: space-around;
    min-width: 70%;
    margin-bottom: 8rem; }

.u-grid-start-2 {
  grid-column-start: 2; }

.quizzes {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  z-index: 10;
  transition: all ease 0.2s; }
  .quizzes__form {
    width: auto;
    list-style: none;
    display: inline-block;
    font-size: 1.6rem; }
    .quizzes__form:hover .quiz:not(:hover) {
      filter: grayscale(0.5); }

.quiz {
  display: block;
  transition: all ease 0.2s;
  /*  &:hover &__answer-btn:not(:hover) {
    filter: blur(1px);
    // box-shadow: 0 0.3rem 5rem rgba($color-black, 0.2);
  } */ }
  .quiz__question {
    text-align: start;
    margin-left: 8%;
    height: 3rem; }
  .quiz__buttons {
    max-width: 114rem;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center; }
  .quiz__answer-btn {
    font-size: 1.7rem;
    font-weight: 700;
    margin-right: 1.3rem;
    min-width: 15rem; }
    .quiz__answer-btn--clicked {
      outline: rgba(58, 169, 184, 0.712) dashed 3px;
      outline-offset: 2px; }
    .quiz__answer-btn--wrong {
      outline: rgba(235, 141, 141, 0.8) dashed 3px;
      outline-offset: 2px; }
    .quiz__answer-btn--correct {
      outline: rgba(61, 209, 61, 0.712) dashed 3px;
      outline-offset: 2px; }
    .quiz__answer-btn:last-child {
      margin-right: 0; }

.panel {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #fff2f2;
  transition: all ease 0.2s; }
  .panel__new-game {
    display: inline-block;
    background-color: #e0e0e0;
    grid-column-start: 3;
    font-size: 2.5em;
    margin-left: 4rem;
    height: fit-content; }
  .panel__restart {
    display: block;
    background-color: #e0e0e0;
    grid-column-start: 2;
    font-size: 2.5em;
    margin-left: 4rem;
    margin-right: 4rem;
    height: fit-content; }
  .panel__check-game {
    display: block;
    background-color: #e0e0e0;
    grid-column-start: 2;
    font-size: 2.5em;
    height: fit-content; }
  .panel__result-info {
    display: block;
    grid-column-start: 2;
    font-size: 4rem;
    font-weight: 800;
    color: #262626; }

:root {
  font-family: "Hero New", Inter, Helvetica, sans-serif; }

body {
  background-color: #fff2f2;
  transition: all ease 0.2s; }

html {
  font-size: 10px; }

window {
  position: relative; }
