*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0; }

.btn {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.1rem 1rem rgba(38, 38, 38, 0.2);
  transform: translateY(0);
  transition: all 0.2s ease; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 2rem rgba(38, 38, 38, 0.2); }
  .btn:active {
    transform: translateY(1px); }

.header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-top: 5rem;
  background-color: #eb8d8d;
  color: #021b1b; }

.quizzes {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center; }
  .quizzes__form {
    width: 80vh;
    list-style: none;
    display: inline-block;
    font-size: 1.6rem; }

.quiz {
  display: block; }
  .quiz__question {
    text-align: start; }
  .quiz__buttons {
    max-width: 114rem;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center; }
  .quiz__answer-btn {
    font-size: 1.7rem;
    font-weight: 700;
    margin-right: 1rem;
    min-width: 15rem; }
    .quiz__answer-btn--clicked {
      outline: rgba(58, 169, 184, 0.712) dashed 3px;
      outline-offset: 2px; }
    .quiz__answer-btn--wrong {
      background-color: #eb8d8d; }
    .quiz__answer-btn--correct {
      background-color: #3dd13d; }
    .quiz__answer-btn:last-child {
      margin-right: 0; }

.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  background-color: #eb8d8d; }
  .panel__new-game {
    background-color: #75cfcf;
    font-size: 2.5em; }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif; }

body {
  background-color: #262626; }

html {
  font-size: 10px; }
